@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.sidenav {
    width: 8rem;
    background-color: #4D148C;
    position: fixed;
}

.main-content {
    margin-inline-start: 8rem;
}

.carousel-container {
    position: relative;
}

.carousel-inner, .carousel-item {
    height: 100%;
}


.main-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.carousel img {
    object-fit: cover;
    width: auto;
    height: auto;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    height: 100%;
}

.carousel-caption {
    text-align: start;
    padding-inline: 3rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    margin: auto;
}

.heading {
    font-weight: 900;
}

.heading span {
    color: #EF5F1F;
}

.options {
    height: 8.125rem;
}

.bg-purple {
    background-color: #4D148C;
}

input {
    width: 25rem;
    height: 3.75rem;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding-inline: 1rem;
    border: none;
    outline: none;
}

input::placeholder {
    color: #D9DBDA;
}

.box-container {
    width: 10rem;
    text-align: center;
}

.track-btn {
    background-color: #FF6200;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    padding-inline: 2.5rem;
    border: none;
}

.box {
    width: 40px;
    height: 40px;
}

.box path {
    fill: #000000;
}



/* Footer-style */
.container-about{
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;


}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
    padding-inline-start: 0;
}

.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
    width: 25% ;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 14px;
    color: white;
    text-transform: capitalize;
    margin-block-end: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h6{
    font-size: 12px;
    color: #c4c4c4;
    margin-block-end: 30px;
    margin-block-start: 30px;
    line-height: 1.8;
}
.footer-col h4::before{ 
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #ff5f13;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-block: 10px;
}

.footer-col ul li a{
   font-size: 16px; 
   text-transform: capitalize;
   color: #ffffff;
   text-decoration: none;
   font-weight: 300;
   color: #868c98;
   display: block;
   transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ff5f13;
    padding-inline: 8px;

}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 30px;
    margin: 0 5px 5px 0;
    text-align: center;
    line-height: 1;
    color: #bbbbbb;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #ffffff;
    
}

@media(max-width: 767px){
    .footer-col {
        width: 50%;
        margin-block-end: 30px;
    }

    .container{
        max-width: 100%;
        margin: auto;
    }
    
}

@media(max-width: 574px){
    .footer-col {
        width: 100%;
    }

    .container{
        max-width: 100%;
        margin: auto;
    }
    
}


/* About Us */
.about-heading {
    color: #FFFFFF;
    font-size: 2.813rem;
    font-weight: 100;
    margin-inline-start: 8rem;
    padding-block-start: 6rem;
}
.background{
    background-image: url(/assets/imges/backgroundImage.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 350px;
}

.possibilities{
    margin-block: 4rem;
}

.space{
    margin-block-start: 2rem;
}

.title{
    text-align: start;
    font-size: 2.188rem;
    font-weight: 200;
}
.phrase{
    font-style: normal;
    font-weight: 100;
    font-size: 1.125rem;
}

h4 {
    margin-block: 1rem;
}

.img1, .img2{
    height: 500px;
}

.card-button {
    /* width: 6.25rem; */
    border: 2px solid #007ab7;
    color: #007ab7;
    text-transform: uppercase;
    line-height: 1rem;
    font-weight: 500;
    border-radius: 40px;
    padding-block: 1rem;
    padding-inline: 2rem;
    background-color: transparent;
}


@media (max-width: 767px) {
    .sidenav {
        display: none;
    }
    .main-content {
        margin-inline-start: 0;
    }
    .options {
        flex-direction: column;
        gap: 1rem;
    }
    input {
        width: 100%;
    }
}